#previewer {
    height: 65vh;
    outline: none;
    text-align: start;
    padding: 20px;
    padding-bottom: 30px;
    background-color: #161616;
    border: black solid 1px;
    border-radius: 0 0 5px 5px;
    width: 700px;
    overflow: scroll;
    color: whitesmoke;
    font-size: 1.2em;
}


#title {
    width: 700px;
    text-align: start;
    padding: 10px 20px;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    border-radius:  5px 5px 0 0;

}

@media(max-width: 800px){
    #title{
        width: 350px;
        display: inline-block;
    }
    #previewer{
        width: 350px;
        margin-bottom: 10px;
        display: inline-block;
    }
}

