#editor {
    height: 80vh;
    outline: none;
    font-size: 1.3em;
    padding: 20px;
    background-color: gainsboro;
    border: none;
    border-radius: 5px;
    width: 700px;
}

h2 {
    text-shadow: 1px 1px gray;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}