
.container{
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}


.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: '100%'; 
  justify-content: space-evenly;
}

#heaeder {
 
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 30px;
  padding: 20px;
  font-style: italic;
  color: black;
}

.aladin {
  font-size: 1.6em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: bolder;
  padding: 20px;
}

.mark {
  color: #D45201;
  font-size: 1.3em;
}

@media(max-width: 1500px){
  .App{
    flex-direction: column;
    align-items: center;
  }
}